//colors
$color_chambray_approx: #284292;
$color_deep_cove_approx: #030c3e;
$primary-color: #eebd1c;
$primary-darken: darken($primary-color, 10%);
$white: #fff;
$color_deep_sapphire_approx: #234291;
$color_energy_yellow_approx: #fce359;
$black: #000;
$color_orange_approx: #ff6913;
$color_buttery_white_approx: #fefcea;
$color_lemon_approx: #ffe00f;
$color_quill_gray_approx: #d5d5d5;
$color_fuel_yellow_approx: #eea21d;
$black_42: rgba(0, 0, 0, 0.42);
$color_radical_red_approx: #ff2b7b;
$color_cyan_aqua_approx: #00eaff;
$color_malachite_approx: #00e366;
$color_sea_buckthorn_approx: #ffad2b;
$color_dodger_blue_approx: #1c9eee;
$color_caribbean_green_approx: #00e6a9;

//fonts
$font_0: BebasNeueReg;
$font_1: AcrobatReg;
$font_2: FixiFont;

//urls
$url_1: url(../fonts/Akrobat-Regular.otf);
$url_2: url(../fonts/FixiFont-Regular.otf);
$url_3: url(../img/varta.png);
$url_4: url(../img/varta_footer.png);
$url_5: url(../img/fixics_bg_new.png);
$url_7: url(../img/button_white.png);
$url_8: url(../img/arrow.png);
$url_9: url(../img/question.png);
$url_10: url(../img/answer.png);
$url_11: url(../img/unchecked_white.png);
$url_12: url(../img/checked_white.png);
$url_13: url(../img/unchecked.png);
$url_14: url(../img/checked.png);
$url_15: url(../img/inset_simka.jpg);
$url_16: url(../img/inset_monster.jpg);
$url_17: url(../img/inset_verta.jpg);

@font-face {
    font-family: $font_0;
    src: url(../fonts/BebasNeue_Regular.ttf);
}
@font-face {
    font-family: $font_1;
    src: $url_1;
}
@font-face {
    font-family: $font_2;
    src: $url_2;
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
body {
    background: linear-gradient(to right, $color_chambray_approx, $color_deep_cove_approx);
    margin-top: 122px;
    position: relative;
    padding: 0 !important;
    font-size: 16px;
    @media (max-width: 1229px){
        margin-top: 96px;
    }
    @media (max-width: 480px){
        margin-top: 76px;
    }
}
a {
    color: $primary-color;
    text-decoration: underline;
    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
    &:focus {
        color: $primary-color;
        text-decoration: none;
        outline: none;
    }
}
button {
    outline: none;
    &.fixi-button {
        border: none;
    }
}
input, select {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    background: $primary-color;
}
 
::-webkit-scrollbar-thumb {
    background: darken($primary-color, 20);
}

.bebasneue-reg {
    font-family: $font_0;
}
.akrobat-reg {
    font-family: $font_1;
}
.fixi-reg {
    font-family: $font_2;
}
#scroll {
    position: fixed;
    z-index: 100;
    right: 25px;
    top: 20%;
    @media (max-width: 1229px){
        display: none;
    }
}
#dates {
    color: $primary-color;
    transform: rotate(-2deg);
    font-size: 40px;
    margin-left: 77px;
    z-index: 2;
    position: relative;
    @media (max-width: 480px){
        font-size: 30px;
        margin-left: 20px;
    }
}
.container {
    @media (min-width: 1230px){
        width: 1230px;
    }
    @media (max-width: 1229px){
        width: 100%;
    }
}
.header {
    width: 100%;
    height: 136px;
    background-color: $color_energy_yellow_approx;
    transform: rotate(-2deg);
    position: fixed;
    margin-top: -14px;
    top: 0;
    z-index: 500;
    box-shadow: 0 -20px 0 20px $color_energy_yellow_approx;
    transition: 500ms;
    @media (max-width: 1229px){
        height: auto;
        max-height: 109px;
        overflow: hidden;
    }
    @media (max-width: 767px){
        max-height: 100px;
    }
    @media (max-width: 480px){
        max-height: 80px;
    }
    &.minimized{
        @media (min-width: 1230px){
            margin-top: -64px;
            .logo{
                flex: 0 1 320px;
                margin: 0 55px;
                margin-top: 46px;
            }
        }
    }
    &.opened{
        @media (max-width: 1229px){
            max-height: 210px;
        }
    }
    .container {
        display: flex;
        height: 100%;
        @media (max-width: 1229px){
            display: block;
        }
    }
    .logo {
        background: $url_3 no-repeat;
        background-size: contain;
        flex: 0 1 430px;
        transform: rotate(2deg);
        transition: 500ms;
        @media (max-width: 1229px){
            display: block;
            width: 430px;
            height: 109px;
        }
        @media (max-width: 767px){
            width: 330px;
            height: 100px;
        }
        @media (max-width: 480px){
            width: 240px;
            height: 70px;
            margin-left: -10px;
            margin-top: 10px;
        }
    }
    .bebasneue-reg {
        margin-left: -26px;
        @media (max-width: 1229px){
            display: table;
            margin: auto;
        }
    }
    .nav{
        list-style-type: none;
        margin-top: 98px;
        padding: 0;
        @media (max-width: 1229px){
            margin: 0 -20px;
        }
        @media (max-width: 767px){
            text-align: center;
        }
        li {
            display: inline;
            font-size: 28px;
            @media (max-width: 767px){
                white-space: nowrap;
            }
            &.active{
                a{
                    background-color: $color_orange_approx;
                    color: $white;
                }
            }
            a {
                display: inline;
                color: $black;
                padding: 5px 5px 0 5px;
                text-decoration: none;
                background: none;
                transition: 300ms;
                @media (max-width: 1229px){
                    padding: 5px 4px 0 4px;
                }
                @media (max-width: 991px){
                    font-size: 27px;
                }
                &:hover {
                    background-color: $color_orange_approx;
                    color: $white;
                }
            }
        }
    }
}

.hamb {
    width: 60px;
    height: 42px;
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 47px;
    display: none;
    @media (max-width: 767px){
        top: 39px;
    }
    @media (max-width: 480px){
        top: 29px;
        right: 13px;
    }
    &::after {
        transition-duration: .25s;
        transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
        transition-delay: 0s;
        transform-origin: center;
        width: 100%;
        height: 10px;
        background-color: $color_deep_sapphire_approx;
        content: "";
        position: absolute;
        left: 0;
        top: 16px;
    }
    &.opened {
        &::after {
            opacity: 0;
        }
        .hamb_inner {
            &::after,
            &::before {
                transition-delay: .125s;
            }
            &::before {
                transform: translateY(14px) rotate(135deg);
                top: 1px;
            }
            &::after {
                transform: translateY(-14px) rotate(-135deg);
                top: auto;
                bottom: 2px;
            }
        }
    }
    &_inner {
        display: block;
        height: 100%;
        outline: none;
        position: relative;
        width: 100%;
        &::before {
            @extend .hamb::after;
            top: 0;
        }
        &::after {
            @extend .hamb_inner::before;
            top: auto;
            bottom: 0;
        }
    }
    @media (max-width: 1229px){
        display: block;
    }
}

.footer {
    height: 300px;
    background: $color_buttery_white_approx;
    background: linear-gradient(to right, $color_chambray_approx, $color_deep_cove_approx);
    color: $primary-color;
    font-size: 20px;
    padding-top: 40px;
    @media (max-width: 991px){
        height: 200px;
    }
    .logo {
        background: $url_4 no-repeat;
        background-size: contain;
        height: 50px;
        margin-left: 8px;
        margin-top: 15px;
    }
    img {
        margin-left: 20px;
    }
    &_social{
        @media (max-width: 991px){
            margin-top: -57px;
        }
        @media (max-width: 480px){
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
            a:first-child img{
                margin: 0;
            }
        }
    }
}
.fixics {
    background: $url_5 no-repeat, linear-gradient(to right, $color_chambray_approx, $color_deep_cove_approx);
    background-position: center 20%;
    background-size: cover;
    height: 640px;
    position: relative;
    @media (max-width: 991px){
        height: 60vw;
    }
    .fixic {
        display: block;
        margin: auto;
        margin-top: 150px;
        animation: mover 2s infinite alternate;
        max-width: 100%;
        @media (max-width: 991px){
            margin-top: 17vw;
        }
    }
}
.welcome {
    position: relative;
    padding-bottom: 90px;
    padding-top: 20px;
    margin-top: -20px;
    overflow: hidden;
    .center-text {
        color: $color_lemon_approx;
        line-height: 55px;
        transform: rotate(-6deg);
        margin: auto;
        margin-top: -107px;
        display: table;
        z-index: 2;
        position: relative;
        @media (max-width: 767px){
            margin-left: -17px;
        }
        @media (max-width: 480px){
            transform: scale(0.7) rotate(-6deg);
            margin-top: -90px;
        }
        .parallax{
            margin-top: -80px;
        }
    }
    .akrobat-reg {
        color: $primary-color;
    }
    .fixi-button {    
        transform: translate(17%, -20px);
        @media (max-width: 1229px){
            transform: none;
        }
    }
    a:hover {
        text-decoration: none;
    }
    &_inner {
        display: flex;
        @media (max-width: 991px){
            flex-direction: column;
            align-items: center;
        }
    }
    &_batteries {
        margin-top: 50px;
        text-align: center;
        width: 36%;
        z-index: 2;
        @media (max-width: 1229px){
            width: 30%;
        }
        @media (max-width: 991px){
            order: 3;
            width: 100%;
            margin-bottom: 65px;
        }
        @media (max-width: 480px){
            margin-bottom: 15px;
        }
        img{
            max-width: 100%;
            @media (max-width: 991px){
                display: block;
                margin: auto;
            }
        }
        a {
            color: $primary-color;
            font-size: 20px;
            text-decoration: underline;
            margin-top: 12px;
            display: inline-block;
        }
    }
    &_fixi {
        width: 39.8%;
        @media (max-width: 1229px){
            width: 40%;
        }
        @media (max-width: 991px){
            order: 1;
            max-width: 420px;
            width: auto;
        }
        img {
            &:first-child {
                transform: translateX(-50%);
                margin-left: 55%;
                margin-top: -165px;
                @media (max-width: 480px){
                    width: 170vw;
                    margin-left: 50%;
                    margin-top: -115px;
                }
            }
            &:last-child {
                margin-left: 42%;
                transform: translateX(-50%);
                margin-top: -104px;
                @media (max-width: 991px){
                    margin-top: -80px;
                }
                @media (max-width: 480px){
                    width: 128vw;
                    margin-top: -70px;
                }
            }
        }
    }
    &_mechanics {
        width: 24.2%;
        z-index: 2;
        @media (max-width: 1229px){
            width: 30%;
        }
        @media (max-width: 991px){
            order: 2;
            width: 100%;
        }
        img{
            max-width: 100%;
            &:last-child{
                display: none;
            }
            @media (max-width: 991px){
                &:first-child{
                    display: none;
                }
                &:last-child{
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    &_text {
        font-size: 16px;
        text-align: center;
        margin-top: 60px;
        @media (max-width: 480px){
            margin-top: 20px;
        }
    }
}

.fixi-button {
    color: $white;
    min-width: 480px;
    font-size: 30px;
    display: table;
    margin: auto;
    text-align: center;
    font-family: $font_2;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background: none;
    z-index: 1;
    @media (max-width: 767px){
        transform: scale(0.8) translate(-50%) !important;
        margin-left: 50%;
        position: relative;
        transform-origin: left;
    }
    @media (max-width: 480px){
        transform: scale(0.6) translate(-50%) !important;
    }
    &:hover {
        color: $white;
        &::before{
            box-shadow: 32px -5px 0px 5px $primary-darken;
            border-right-color: $primary-darken;
        }
        &::after{
            border-left-color: $primary-darken;
            box-shadow: -35px -1px 0px 1px $primary-darken;
        }
        span{
            box-shadow: -6px -7px 0 $primary-darken, 11px -3px 0 -6px $primary-darken;
            &::after{
                background-color: $primary-darken;
            }
        }
    }
    &:focus {
        color: $white;
    }
    &::before{
        content: '';
        transform: rotate(-4deg);
        width: 0;
        height: 54%;
        box-sizing: content-box;
        position: absolute;
        top: 1px;
        left: 2px;
        border: 34px solid rgba(0, 0, 0, 0);
        border-left: 0;
        border-right-color: $primary-color;
        box-shadow: 32px -5px 0px 5px $primary-color;
        border-top-width: 20px;
        border-bottom-width: 20px;
        z-index: -1;
        transition: 300ms;
    }
    &::after{
        content: '';
        transform: rotate(-2.5deg);
        width: 0;
        height: 43%;
        box-sizing: content-box;
        position: absolute;
        top: -1px;
        right: 1px;
        border: 34px solid rgba(0, 0, 0, 0);
        border-right: 0;
        border-left-color: $primary-color;
        box-shadow: -35px -1px 0px 1px $primary-color;
        border-top-width: 20px;
        border-bottom-width: 20px;
        z-index: -1;
        transition: 300ms;
    }
    &.white {
        min-width: auto;
        padding-left: 20px;
        padding-right: 20px;
        color: $primary-color;
        // &:hover {
        //     color: $white;
        //     &::before{
        //         box-shadow: 32px -5px 0px 5px $primary-darken;
        //         border-right-color: $primary-darken;
        //     }
        //     &::after{
        //         border-left-color: $primary-darken;
        //         box-shadow: -35px -1px 0px 1px $primary-darken;
        //     }
        //     span{
        //         box-shadow: -6px -7px 0 $primary-darken, 11px -3px 0 -6px $primary-darken;
        //         &::after{
        //             background-color: $primary-darken;
        //         }
        //     }
        // }
        &::before{
            border-right-color: $white;
            box-shadow: 32px -5px 0px 5px $white;
        }
        &::after{
            border-left-color: $white;
            box-shadow: -35px -1px 0px 1px $white;
        }
        span{
            padding-left: 60px;
            padding-right: 60px;
            box-shadow: -6px -7px 0 $white, 11px -3px 0 -6px $white;
            &::after{
                background: $white;
            }
        }
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 84.3%;
        height: 100%;
        margin-left: 8%;
        overflow: hidden;
        position: relative;
        box-shadow: -6px -7px 0 $primary-color, 11px -3px 0 -6px $primary-color;
        padding-bottom: 25px;
        padding-top: 18px;
        transition: 300ms;
        &::after{
            position: absolute;
            top: 0;
            left: -9.5%;
            content: '';
            width: 222%;
            height: 100%;
            background: $primary-color;
            border-bottom-right-radius: 170% 134%;
            z-index: -1;
            transition: 300ms;
        }
    }
}

.mechanics {
    padding-top: 125px;
    padding-bottom: 55px;
    color: $primary-color;
    overflow: hidden;
    @media (max-width: 991px){
        padding-top: 5px;
        padding-bottom: 35px;
    }
    .hurryup {
        font-size: 26px;
        @media (max-width: 991px){
            font-size: 22px;
        }
    }
    h4 {
        font-size: 53px;
        margin: 82px 0 45px;
        @media (max-width: 991px){
            font-size: 48px;
            margin: 71px 0 21px;
        }
    }
    a {
        color: $color_orange_approx;
        line-height: 100px;
        text-decoration: underline;
        &:hover {
            color: $color_orange_approx;
            text-decoration: none;
        }
    }
    .orange {
        color: $color_orange_approx;
    }
    .yellow {
        color: $primary-color;
    }
    img {
        float: left;
        display: inline-block;
    }
    .caption {
        margin-left: 32px;
        @media (max-width: 991px){
            margin-left: 15px;
        }
    } 
    .prizes {
        margin: 0;
        margin-top: 80px;
        margin-bottom: 70px;
        width: 100%;
        // width: calc(100% + 70px);
        // padding-right: 70px;
        @media (max-width: 991px){
            margin-top: 65px;
            margin-bottom: 0;
        }
        @media (max-width: 767px){
            margin-top: 15px;
        }
        .item{
            margin-left: 70px;
            @media (max-width: 991px){
                width: 100%;
            }
        }
        .owl-stage-outer{
            // padding-right: 120px;
            // width: calc(100% + 120px);
            padding-bottom: 60px;
            @media (max-width: 991px){
                padding-bottom: 20px;
            }
        }
        .owl-stage{
            margin-left: -70px;
        }
        .code {
            float: none;
            height: auto;
            width: auto;
            margin: auto;
            max-width: 100%;
            @media (max-width: 991px){
                max-width: 300px;
            }
            @media (max-width: 480px){
                max-width: 100%;
            }
        }
        .prize {
            float: none;
            width: auto;
            height: auto;
            margin: auto;
            @media (max-width: 767px){
                max-width: 100%
            }
        }
        .arrow {
            height: 450px;
            background: $url_8 no-repeat;
            background-position: center center;
            background-size: contain;
            @media (max-width: 991px){
                width: 76px;
                margin: auto;
                height: 62px;
                transform: rotate(90deg);
                margin-bottom: 34px;
            }
            &_text{
                width: 180px;
                text-align: center;
                font-family: $font_2;
                color: $color_orange_approx;
                transform: rotate(-13deg) translate(-35%);
                font-size: 34px;
                line-height: normal;
                position: absolute;
                bottom: 66%;
                @media (max-width: 991px){
                    font-size: 25px;
                    transform: rotate(-103deg) translateY(-160%);
                    bottom: 200%;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @media (max-width: 480px){
                    transform: scale(0.8) rotate(-103deg) translateY(-160%);
                    bottom: 180%;
                }
            }
        }
        .glow{
            &::before{
                content: '';
                position: absolute;
                left: 50%;
                top: -30px;
                width: 154%;
                height: 597px;
                transform: translateX(-53%);
                background: url(../img/sparks.png) center;
                background-size: contain;
                z-index: -1;
                @media (max-width: 991px){
                    background-repeat: no-repeat;
                    width: 720px;
                }
                @media (max-width: 767px){
                    display: none;
                }
            }
            &::after{
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-48.7%);
                top: 45px;
                width: 130%;
                height: 404px;
                background: url(../img/sparks_front.png) center;
                background-size: cover;
                @media (max-width: 991px){
                    top: 50px;
                    width: 597px;
                    background-size: contain;
                }
                @media (max-width: 767px){
                    display: none;
                }
            }
        }
    }
    .title {
        font-size: 53px;
        margin-bottom: 25px;
        white-space: nowrap;
        @media (max-width: 991px){
            font-size: 42px;
        }
        @media (max-width: 480px){
            white-space: normal;
        }
        &.code {
            padding-top: 48px;
            padding-bottom: 40px;
            @media (max-width: 991px){
                padding-top: 0;
                padding-bottom: 14px;
            }
        }
    }
    &_steps {
        display: flex;
        justify-content: space-around;
        @media (max-width: 991px){
            width: 90%;
            margin: auto;
        }
        @media (max-width: 767px){
            flex-direction: column;
            align-items: center;
        }
    }
    &_step {
        display: flex;
        align-items: center;
        font-size: 31px;
        @media (max-width: 991px){
            font-size: 22px;
            img{
                width: 58px;
            }
        }
        @media (max-width: 767px){
            margin-bottom: 20px;
            width: 220px;
        }
    }
    &_rules {
        font-size: 26px;
        @media (max-width: 991px){
            font-size: 23px;
        }
    }
}

.faq {
    padding-top: 120px;
    padding-bottom: 38px;
    @media (max-width: 991px){
        padding-top: 0;
    }
    h4 {
        color: $primary-color;
        font-size: 53px;
        margin-bottom: 40px;
        @media (max-width: 991px){
            font-size: 42px;
        }
    }
    ul {
        font-size: 30px;
        padding: 0;
        @media (max-width: 991px){
            font-size: 24px;       
        }
        > li {       
            &.question {
                color: $color_orange_approx;
                background: $url_9 no-repeat left top;
                padding: 9px 0 25px 75px;
                list-style: none;
                margin: 0;
                @media (max-width: 991px){
                    background-size: 42px;
                    padding: 6px 0 14px 62px;
                }
            }
            &.answer {
                color: $primary-color;
                background: $url_10 no-repeat left top;
                padding: 9px 0 15px 75px;
                list-style: none;
                margin-bottom: 40px;
                @media (max-width: 991px){
                    background-size: 42px;
                    padding: 6px 0 3px 62px;
                    margin-bottom: 26px;
                }
            }
        }
    }
}

.winners {
    padding-top: 114px;
    margin-bottom: 40px;
    @media (max-width: 991px){
        padding-top: 0;
    }
    h4 {
        color: $primary-color;
        font-size: 53px;
        margin-bottom: 50px;
        @media (max-width: 991px){
            font-size: 42px;
        }
    }
    .search_title {
        color: $primary-color;
        font-size: 31px;
        margin-bottom: 18px;
        @media (max-width: 991px){
            font-size: 23px;
        }
    }
    [type="email"]{
        @media (max-width: 767px){
            width: 180px;
        }
        @media (max-width: 480px){
            width: 100%;
            margin-bottom: 10px;
        }
    }
    button {
        background-color: $primary-color;
        border: none;
        margin-left: 20px;
        color: $white;
        padding: 5px 35px 6px;
        font-size: 30px;
        @media (max-width: 991px){
            padding: 5px 30px 5px;
            font-size: 24px;
        }
        &:first-of-type{
            @media (max-width: 480px){
                margin: 0;
            }
        }
        &:last-child {
            padding: 5px 16px 6px;
            @media (max-width: 991px){
                padding-bottom: 5px;
            }
        }
    }
    &_table{
        margin-top: 35px;
        margin-bottom: 20px;
        @media (max-width: 480px){
            overflow-x: scroll;
        }
    }
    table {
        margin-bottom: 0;
        @media (max-width: 480px){
            width: 500px;
        }
        th, td {
            border: none !important;
            padding: 0 !important;
            padding-top: 4px !important;
            &:first-child {
                padding-left: 60px !important;
                @media (max-width: 480px){
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
            }
            &:nth-child(2) {
                text-align: center;
                padding-right: 20px !important;
                @media (max-width: 480px){
                    padding-right: 40px;
                }
            }
        }
    }
    tbody {
        tr {
            color: $black;
            font-size: 30px;
            @media (max-width: 991px){
                font-size: 23px;
            }
            &:not(.highlight) {
                &:nth-child(4n-1) {
                    background-color: $color_fuel_yellow_approx;
                }
                &:nth-child(4n + 1) {
                    background-color: $primary-color;
                }
            }
        }
        .highlight {
            background-color: transparent !important;
        }
    }
    td {
        border-bottom: 2px transparent solid;
    }
    thead tr {
        color: $primary-color;
        font-size: 30px;
        @media (max-width: 991px){
            font-size: 23px;
        }
    }
    .highlight td {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    &_pager{
        @media (max-width: 991px){
            display: table;
            margin: auto;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            font-family: $font_0;
        }  
        a {
            display: flex;
            width: 35px;
            height: 32px;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            transition: 300ms;
            color: $primary-color;
            text-decoration: none;
            line-height: 1;
            padding-top: 6px;
            &:hover{
                background-color: $primary-color;
                color: $white;
            }
        }
        li{
            &.active a{
                background-color: $primary-color;
                color: $white;
            }
            &.next a, &.prev a{
                width: 45px;
                background-image: url(../img/pager.jpg);
                background-color: $primary-color;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 20px;
                // &:hover{
                //     background-color: $primary-darken;
                // }
            }
            &.prev a{
                transform: scale(-1, 1);
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }
}

::-webkit-input-placeholder {
    color: $color_quill_gray_approx;
}
::-moz-placeholder {
    color: $color_quill_gray_approx;
}
:-ms-input-placeholder {
    color: $color_quill_gray_approx;
}

[type="text"], 
[type="email"],
[type="tel"],
[type="password"],
textarea, 
select {
    border: 3px solid $primary-color;
    font-size: 30px;
    line-height: 1;
    min-height: 53px;
    padding: 9px 16px 0;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    @media (max-width: 991px){
        font-size: 23px;
        min-height: 43px;
        padding-top: 7px;
        padding-left: 10px;
    }
}

select{
    background: url(../img/select.jpg);
    background-position: right center;
    border-right: 47px solid transparent;
    box-shadow: inset 0 0 0 50px $white;
}

[type="radio"], [type="checkbox"] {
    display: none;
    &:checked {
        + label {
            background-image: $url_14;
            height: 85px;
        }
        &.white + label {
            background-image: $url_12;
        }
    }
    + label {
        user-select: none;
        background: $url_13 0 0 no-repeat;
        background-position: center left;
        padding-left: 65px;
        padding-top: 28px;
        display: inline-flex;
        align-items: center;
        margin-right: 45px;
        height: 85px;
        font-size: 19px;
        &:last-child{
            margin-right: 0;
        }
    }
    &.white + label {
        background-image: $url_11;
    }
}

[type="checkbox"]{
    + label{
        background-size: 40px auto;
        padding-left: 68px;
    }
}

.borderless {
    td {
        border: none;
    }
    th {
        border: none;
    }
}

.feedback {
    padding-top: 110px;
    margin-bottom: 64px;
    @media (max-width: 991px){
        padding-top: 24px;
    }
    @media (max-width: 767px){
        margin-bottom: 0;
    }
    &_form{
        display: flex;
        @media (max-width: 991px){
            flex-wrap: wrap;
        }
        img{
            max-width: 100%
        }
        &_top{
            @media (max-width: 991px){
                display: flex;
                justify-content: space-between;
                > div{
                    width: calc(50% - 13px);
                }
            }
        }
        &_bottom{
            @media (max-width: 991px){
                position: absolute;
                bottom: -480px;
                label{
                    display: block;
                }
            }
            @media (max-width: 480px){
                z-index: 2;
                width: calc(100% - 30px);
            }
        }
        &_left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    textarea {
        width: 100%;
        max-width: 100%;
        height: 420px;
        @media (max-width: 991px){
            height: 230px;
            max-height: 230px;
        }
    }
    input {
        width: 100%;
        margin-bottom: 15px;
    }
    label {
        font-size: 30px;
        color: $primary-color;
        @media (max-width: 991px){
            font-size: 23px;
        }
    }
    h4 {
        color: $primary-color;
        font-size: 53px;
        margin-bottom: 50px;
        @media (max-width: 991px){
            font-size: 42px;
        }
        @media (max-width: 480px){
            margin-bottom: 30px;
        }
    }
    button {
        background-color: $primary-color;
        border: none;
        margin-top: 35px;
        color: $white;
        padding: 5px 32px 6px;
        font-size: 30px;
        transition: 300ms;
        @media (max-width: 991px){
            font-size: 24px;
            margin-top: 50px;
            float: right;
        }
        @media (max-width: 767px){
            margin-top: 170px;
            float: left;
        }
        &:hover{
            background-color: $primary-darken;
        }
    }
}

.map{
    padding-top: 110px;
    margin-bottom: 36px;
    @media (max-width: 991px){
        padding-top: 70px;
    }
    @media (max-width: 767px){
        padding-top: 50px;
    }
    @media (max-width: 480px){
        margin-bottom: 0;
    }
    h4 {
        color: $primary-color;
        font-size: 53px;
        margin-bottom: 47px;
        @media (max-width: 991px){
            font-size: 42px;
        }
    }
    &_container{
        width: 100%;
        height: 600px;
        border: 5px solid $primary-color;
        @media (max-width: 767px){
            height: 400px;
        }
    }
}

.register {
    color: $primary-color;
    padding-top: 110px;
    @media (max-width: 991px){
        padding-top: 40px;
    }
    h4 {
        color: $primary-color;
        font-size: 53px;
        margin-bottom: 40px;
        @media (max-width: 991px){
            font-size: 42px;
        }
        @media (max-width: 480px){
            font-size: 38px;
        }
    }
    label{
        margin-left: 18px;
    }
    input {
        width: 100%;
    }
    &_input{
        margin-top: 64px;
        @media (max-width: 991px){
            margin-top: 41px;
        }
        @media (max-width: 480px){
            width: 100%;
            margin-top: 12px;
        }
    }
    .social {
        font-size: 30px;
        @media (max-width: 991px){
            font-size: 23px;
        }
        > div{
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 480px){
                flex-wrap: wrap;
                div{
                    width: 100%;
                }
                a:first-of-type{
                    margin: 0;
                }
            }
        }
        a {
            display: block;
            margin-left: 25px;
            @media (max-width: 991px){
                margin-left: 20px;
            }
            &:hover, &:active{
                .cls-1 {
                    fill: $primary-darken;
                }
            }
        }
        svg{
            width: 71px;
            height: 78px;
            @media (max-width: 991px){
                width: 56px;
                height: 60px;
            }
        }
        .cls-1 {
            fill: $primary-color;
            transition: 300ms
        }
        .cls-1,
        .cls-2 {
            fill-rule: evenodd;
        }
        .cls-2 {
            fill: $white;
        }
    }
    .advice {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: hidden;
        label{
            flex: 0 0 100%;
        }
        input{
            width: calc(100% - 63px);
        }
        img {
            flex: 0 0 53px;
            margin-left: 10px;
            margin-top: -4px;
            @media (max-width: 991px){
                flex: 0 0 43px;
                width: 43px;
            }
        }
    }
    select {
        width: 100%;
        margin-bottom: 15px;
        color: $black_42;
    }
    [type="radio"], [type=checkbox]{  
        + label{
            margin-left: 0;
        }
    }
    label {
        font-size: 30px;
        @media (max-width: 991px){
            font-size: 23px;
        }
    }
    [type=checkbox]{
        + label{
            font-size: 19px;
        }
    }
    .space-above{
        margin-top: 44px;
        @media (max-width: 991px){
            margin-top: 0;
        }
    }
    &_note{
        font-size: 19px;
        margin-top: 38px;
        margin-left: 16px;
        sup{
            font-size: 200%;
            vertical-align: bottom;
        }
    }
    &_check{
        margin-bottom: 80px;
        @media (max-width: 991px){
            margin: 0;
        }
    }
    .fixi-button{
        @media (max-width: 991px){
            margin-top: 68px;
        }
        @media (max-width: 767px){
            margin-top: 30px;
        }
    }
}

.pre-parallax {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, $color_chambray_approx, $color_deep_cove_approx);
    z-index: 40;
    &.pink::after {
        border-bottom: solid 20px $color_radical_red_approx;
        @media (max-width: 991px){
            border-width: 16px;
        }
    }
    &.cyan::after {
        border-bottom: solid 20px $color_cyan_aqua_approx;
        @media (max-width: 991px){
            border-width: 16px;
        }
    }
    &.blue::after {
        border-bottom: solid 20px $color_malachite_approx;
        @media (max-width: 991px){
            border-width: 16px;
        }
    }
    &::after {
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        transform-origin: right bottom;
        transform: skewY(-2deg);
    }
}

.post-parallax {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, $color_chambray_approx, $color_deep_cove_approx);
    z-index: 40;
    &.orange {
        z-index: 60;
    }
    &.orange::before {
        border-top: solid 20px $color_sea_buckthorn_approx;
        @media (max-width: 991px){
            border-width: 16px;
        }
    }
    &.blue::before {
        border-top: solid 20px $color_dodger_blue_approx;
        @media (max-width: 991px){
            border-width: 16px;
        }
    }
    &.green::before {
        border-top: solid 20px $color_caribbean_green_approx;
        @media (max-width: 991px){
            border-width: 16px;
        }
    }
    &::before {
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        background: inherit;
        z-index: -1;
        top: -100px;
        transform-origin: right top;
        transform: skewY(-2deg);
    }
}
.parallax {
    position: relative;
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    @media (max-width: 991px){
        height: 500px;
    }
    &--simka{
        background-image: $url_15;
        .parallax{
            &_spark{
                &:first-child{
                    left: 22.1vw;
                    top: 2.4vw;
                    width: 137px;
                    height: 103px;
                    background-image: url(../img/sparks/simka_1.png);
                    @media (max-width: 991px){
                        left: 12.1vw;
                    }
                }
                &:nth-child(2){
                    top: 1.6vw;
                    right: 31.3vw;
                    width: 127px;
                    height: 90px;
                    background-image: url(../img/sparks/simka_2.png);
                    @media (max-width: 991px){
                        right: 18.3vw;
                    }
                }
                &:nth-child(3){
                    bottom: 4.2vw;
                    right: 23.4vw;
                    width: 152px;
                    height: 123px;
                    background-image: url(../img/sparks/simka_3.png);
                    @media (max-width: 991px){
                        bottom: 9.2vw;
                        right: 13.4vw;
                    }
                }
            }
            &_character{
                width: 475px;
                height: 679px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-image: url(../img/simka.png);
                @media (max-width: 991px){
                    width: 346px;
                    height: 460px;
                }
                @media (max-width: 480px){
                    width: 275px;
                }
            }
            &_text{
                right: calc(50vw - 475px);
                top: 50%;
                transform: translateY(-100%) rotate(-9deg);
                text-shadow: -9px 8px 0 rgba(0, 26, 66, 0.2);
                color: #ffa800;
                font-size: 51px;
                line-height: normal;
                @media (max-width: 991px){
                    font-size: 40px;
                    right: calc(50vw - 325px);
                }
                span{
                    font-size: 79px;
                    display: block;
                    transform: rotate(7deg);
                    text-align: center;
                    @media (max-width: 991px){
                        font-size: 60px;
                    }
                }
            }
        }
    }
    &--monster{
        background-image: $url_16;
        .parallax{
            &_spark{
                &:first-child{
                    left: 20.3vw;
                    bottom: 2.5vw;
                    width: 339px;
                    height: 191px;
                    background-image: url(../img/sparks/monster_1.png);
                    @media (max-width: 991px){
                        width: 174px;
                        left: 14.3vw;
                        bottom: -2.1vw;
                    }
                }
                &:nth-child(2){
                    right: 21.4vw;
                    bottom: 6vw;
                    width: 208px;
                    height: 230px;
                    background-image: url(../img/sparks/monster_2.png);
                    @media (max-width: 991px){
                        width: 150px;
                        bottom: 4vw;
                    }
                }
            }
            &_text{
                right: 16vw;
                top: 50%;
                transform: translateY(-140%) rotate(-1deg);
                text-shadow: 0 0 30px rgba(128, 230, 255, 0.5);
                color: #00316e;
                font-size: 43px;
                line-height: normal;
                @media (max-width: 1229px){
                    right: 8vw;
                    transform: translateY(-124%) rotate(-1deg);
                }
                @media (max-width: 991px){
                    font-size: 26px;
                    right: 17vw;
                    transform: translateY(-135%) rotate(-1deg);
                }
                span{
                    font-size: 66px;
                    display: block;
                    transform: rotate(-13deg);
                    text-align: center;
                    margin-left: 109px;
                    margin-top: 6px;
                    @media (max-width: 991px){
                        font-size: 35px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    &--verta{
        background-image: $url_17;
        .parallax{
            &_spark{
                &:first-child{
                    left: 20vw;
                    top: 4vw;
                    width: 183px;
                    height: 118px;
                    background-image: url(../img/sparks/verta_1.png);
                    @media (max-width: 991px){
                        width: 130px;
                        left: 6vw;
                        top: 6vw;
                    }
                }
                &:nth-child(2){
                    left: 33vw;
                    top: 2.2vw;
                    width: 211px;
                    height: 76px;
                    background-image: url(../img/sparks/verta_2.png);
                    @media (max-width: 991px){
                        width: 145px;
                        left: 23vw;
                    }
                }
                &:nth-child(3){
                    right: 19.3vw;
                    bottom: 4.1vw;
                    width: 246px;
                    height: 145px;
                    background-image: url(../img/sparks/verta_3.png);
                    @media (max-width: 991px){
                        width: 140px;
                        right: 14.3vw;
                        bottom: 2.8vw;
                    }
                }
            }
            &_character{
                width: 472px;
                height: 648px;
                left: 50%;
                top: 50%;
                transform: translate(-30%, -50%);
                background-image: url(../img/verta.png);
                @media (max-width: 991px){
                    width: 302px;
                    height: 430px;
                    transform: translate(-40%, -50%);
                }
                @media (max-width: 767px){
                    transform: translate(-50%, -50%);
                }
            }
            &_text{
                left: calc(50vw - 370px);
                top: 50%;
                transform: translateY(-90%) rotate(-9deg);
                text-shadow: -9px 8px 0 rgba(0,26,66,0.4);
                color: #baff00;
                font-size: 51px;
                line-height: 0.99;
                @media (max-width: 991px){
                    font-size: 34px;
                    left: calc(50vw - 260px);
                    transform: translateY(-55%) rotate(-9deg);
                }
                span{
                    font-size: 100px;
                    display: block;
                    transform: rotate(18deg);
                    text-shadow: -13px 12px 0 rgba(0,26,66,0.4);
                    margin-top: 32px;
                    margin-left: -149px;
                    @media (max-width: 991px){
                        font-size: 70px;
                        margin-top: 162px;
                        margin-left: -39px;
                    }
                }
            }
        }
    }
    &_spark{
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &_character{
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;  
    }
    &_text{
        font-family: $font_2;
        position: absolute;
        @media (max-width: 767px){
            display: none;
        }
    }
}

.profile{
    margin-top: 50px;
    color: $primary-color;
    font-family: $font_0;
    font-size: 30px;
    @media (max-width: 991px){
        font-size: 23px;
    }
    button, [type="submit"]{
        background-color: $primary-color;
        border: none;
        color: $white;
        padding: 10px 22px 8px;
        font-size: 25px;
        font-family: $font_2;
        transition: 300ms;
        &:hover{
            background-color: $primary-darken;
        }
        @media (max-width: 991px){
            padding: 8px 22px 6px;
            font-size: 23px;
        }
    }
    h4 {
        font-size: 53px;
        text-align: center;
        margin: 0;
        margin-top: 105px;
        margin-bottom: 18px;
        color: $primary-color;
        font-family: $font_2;
        @media (max-width: 991px){
            font-size: 42px;
            margin-top: 40px;
        }
        @media (max-width: 767px){
            margin-top: 20px;
        }
    }
    &_welcome{
        text-align: center;
        position: relative;
        margin-bottom: 65px;
        @media (max-width: 767px){
            margin-bottom: 40px;
        }
        @media (max-width: 480px){
            display: flex;
            justify-content: space-between;
            text-align: left;
        }
        a{
            position: absolute;
            right: 0;
            @media (max-width: 480px){
                position: static;
            }
        }
    }
    &_form{
        display: flex;
        align-items: center;
        white-space: nowrap;
        &--right{
            justify-content: flex-end;
        }
        &--textarea{
            display: block;
            textarea{
                display: block;
                margin-top: 29px;
                width: 100%;
                max-width: 100%;
                @media (max-width: 767px){
                    margin-top: 0;
                }
            }
            &_row{
                margin-top: 10px;
                align-items: flex-start;
                @media (max-width: 480px){
                    display: block;
                }
                textarea{
                    margin-left: 18px;
                    margin-top: -10px;
                    width: 100%;
                    max-width: 100%;
                    @media (max-width: 480px){
                        display: block;
                        margin: 0;
                    }
                }
            }
        }
        input{
            @media (max-width: 1229px){
                width: 100%;
            }
            &[type="text"]:not([size]){
                width: 100%;
            }
            &:nth-child(1){
                margin-left: 18px;
            }
            &:last-child{
                margin-left: 35px;
            }
            &:nth-child(2){
                margin-left: 20px;    
            }
        }
        &--code{
            @media (max-width: 480px){
                flex-wrap: wrap;
            }
            input{
                &:nth-child(1){
                    margin: 0;
                    @media (max-width: 480px){
                        margin-bottom: 10px;
                    }
                }
                &:last-child{
                    margin-left: 35px;
                    @media (max-width: 480px){
                        margin: 0;
                    }
                }
            }
        }
        &--file{
            @media (max-width: 480px){
                flex-wrap: wrap;
                input:nth-child(1){
                    margin: 0;
                }
            }
        }
    }
    &_personal{
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        @media (max-width: 991px){
            flex-wrap: wrap;
            margin-top: 60px;
            margin-bottom: 50px;
        }
        table{
            width: 100%;
            th{
                padding-bottom: 20px;
            }
        }
        &_header{
            margin-bottom: 24px;
            span{
                color: #fe6b25;
            }
        }
        &_codes{
            @media (max-width: 991px){
                margin-top: 20px;
            }
        }
    }
    &_header{
        margin-bottom: 26px;
    }
    &_mycodes{
        margin-bottom: 50px;
        @media (max-width: 480px){
            margin-bottom: 40px;
        }
        &_content{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 170px;
            @media (max-width: 991px){
                height: 140px;
            }
            @media (max-width: 480px){
                height: auto;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 220px;
            margin-bottom: 14px;
            @media (max-width: 767px){
                width: 160px;
                margin-right: 10px;
            }
            @media (max-width: 480px){
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
            }
        }
        li{
            &:last-child{
                color: #fe6b25;
            }
        }
    }
    &_data{
        margin-bottom: 40px;
        @media (max-width: 480px){
            margin-bottom: 30px;
        }
        &_content{
            @media (max-width: 767px){
                display: flex;
                flex-direction: column;
                .profile_form--textarea{
                    order: 2
                }
            }
        }
        .profile_form{
            margin-bottom: 32px;
        }
    }
    &_passport{
        .profile_form{
            margin-bottom: 32px;
        }
    }
    &_footer{
        margin-top: 56px;
        text-align: center;
        @media (max-width: 991px){
            margin-top: 20px;
        }
        input{
            width: 300px;
            @media (max-width: 991px){
                width: 200px;
            }
        }
    }
}

.file{
    display: flex;  
    button{
        margin-left: 37px;
        @media (max-width: 480px){
            margin-left: 15px;
        }
    }
}

#notice{
    h4{
        font-size: 53px;
        top: 10px;
    }
    .modal-body {
        color: $color_deep_sapphire_approx;
        font-size: 30px;
        padding: 40px;
        @media (max-width: 991px){
            padding: 20px;
        }
    }
    .fixi-button {
        width: 300px;
        padding-left: 17px;
        padding-right: 16px;
        span{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .close{
        margin-top: 4px;
    }
}

#forgot .fixi-button {
    width: 420px;
    padding-left: 6px;
    padding-right: 6px;
    span{
        padding-left: 0;
        padding-right: 0;
    }
}

span.prize {
    color: $color_orange_approx;
}

.modal{
    &-dialog{
        margin: 60px auto;
    }
    &-header {
        border: none;
        padding: 15px 26px;
        @media (max-width: 480px){
            padding: 15px;
            padding-bottom: 0;
        }
        h4 {
            font-size: 32px;
            width: 100%;
            position: absolute;
            left: 0;
            @media (max-width: 991px){
                font-size: 26px;
            }
            @media (max-width: 480px){
                padding: 0 30px;
                position: static;
            }
        }
    }
    &-body{
        @media (max-width: 480px){
            padding-bottom: 0;
        }
    }
    &-content {
        background-color: $primary-color;
        position: relative;
        border: none;
        box-shadow: none;
        color: $white;
        border-bottom-left-radius: 8% 400%;
        border-bottom-right-radius: 8% 400%;
        &::before {
            content: '';
            width: 100%;
            height: 27px;
            position: absolute;
            background: inherit;
            z-index: -1;
            top: 0;
            transform-origin: right top;
            transform: skewY(1.5deg);
        }
        &::after {
            content: '';
            width: 98.6%;
            height: 150px;
            position: absolute;
            background: inherit;
            z-index: -1;
            bottom: 0;
            left: 0.8%;
            transform-origin: right bottom;
            transform: skewY(-0.8deg);
        }
        input {
            width: 100%;
            border-color: $white;
            margin-bottom: 35px;
            color: $color_deep_sapphire_approx;
            @media (max-width: 991px){
                margin-bottom: 16px;
            }
        }
        label {
            font-size: 30px;
            line-height: 1.1;
            @media (max-width: 991px){
                font-size: 26px;
            }
        }
        a {
            color: $white;
            text-decoration: underline;
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
        .forgot {
            font-size: 18px;
            padding-top: 40px;
        }
    }
    &_form{
        width: 360px;
        margin: auto;
        margin-top: 37px;
        font-size: 30px;
        @media (max-width: 991px){
            margin-top: 22px;
            font-size: 26px;
        }
        @media (max-width: 480px){
            width: 100%;
            margin-top: 10px;
        }
        &_footer{
            margin: 15px -33px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 991px){
                margin: 10px -20px 0;
            }
            @media (max-width: 480px){
                margin: 15px 0;
                flex-direction: column;
                text-align: center;
            }
            label{
                background-size: 40px auto;
                padding-left: 57px;
                padding-top: 23px;
                height: 64px !important;
                margin-top: -20px;
                @media (max-width: 480px){
                    margin-top: 10px;
                }
            }
        }
    }
    &_social{
        span{
            font-size: 30px;
            margin-right: 15px;
            @media (max-width: 991px){
                font-size: 26px;
            }
            @media (max-width: 480px){
                display: block;
            }
        }
        a{
            margin-left: 25px;
            @media (max-width: 991px){
                margin-left: 20px;
            }
            @media (max-width: 991px){
                img{
                    width: 60px;
                }
            }
            @media (max-width: 480px){
                &:first-of-type{
                    margin: 0;
                }
            }
        }
    }
    &-footer {
        border: none;
        padding-bottom: 38px;
        .fixi-button{
            @media (max-width: 991px){
                transform: scale(0.7) translate(-50%) !important;
                margin-top: -10px;
                margin-bottom: -10px;
                &::before{
                    box-shadow: 14px -5px 0px -7px #fff;
                }
                span{
                    box-shadow: -5px -2px 0 #fff, 11px -3px 0 -6px #fff;
                }
            }
        }
    }
    .close {
        position: relative;
        z-index: 2;
        font-size: 53px;
        color: $color_deep_sapphire_approx;
        opacity: 1;
        text-shadow: none;
        margin-top: -6px;
        @media (max-width: 991px){
            font-size: 45px;
        }
    }
}