doctype html
html(lang='ru')
    include includes/_head
    body(data-spy="scroll" data-target="#navbar")
        include includes/_header
        .pre-parallax.pink
            .container.welcome
                #dates.bebasneue-reg 04.09.2017 - 31.12.2017
                .welcome_inner
                    .welcome_batteries
                        img(src='img/batteries.png', alt='')
                        a.bebasneue-reg(href='#') Подробнее узнать о наших продуктах
                    .welcome_fixi
                        img(src='img/fixiki_center_2.png', alt='')
                        .fixi-reg.center-text
                            div(style='margin-left: 67px;font-size: 37px;') собЕри всех
                            div(style='margin-left: 97px;font-size: 55px;') фикСиков
                            div(style='margin-left: 32px;font-size: 42px;') и выиграй
                            div(style='font-size: 65px;') гироскутер!
                        img(src='img/scooter_center.png', alt='')
                    .welcome_mechanics
                        img(src='img/mechanics.png', alt='')
                a.fixi-button(href='#')
                    span
                        | зарегистрировать код
                .welcome_text.akrobat-reg
                    | Организатор акции — ООО «СОВА». Стимулирующее мероприятие в виде рекламной акции «Собери всех Фиксиков и получи гироскутер в подарок» действует на территории РФ. Не является лотереей. Общий период проведения стимулирующего мероприятия: с 04.09.2017 по 31.12.2017, включая период выдачи призов победителям. Регистрация промо-кодов осуществляется в период с 00 часов 00 минут 01 секунд 4 сентября 2017 года по 23 часа 59 минут 59 секунд 14 декабря 2017 года по московскому времени на сайте http://www.varta-consumer.ru. Обязательным условием участия в розыгрыше и получения главного приза (гироскутер) является вступление в сообщество Varta Consumer Russia в одной из 3-х социальных сетей и предъявление чека после розыгрыша. Подробные правила проведения, информация об организаторе, количестве призов, сроках, месте и порядке их вручения размещены на сайте: http://www.varta-consumer.ru.
                    br
                    | Количество призов ограничено. Призы могут отличаться от изображенных.
        .simka-parallax(data-bottom-top='background-position-y: 0%;', data-center-top='background-position-y: 30%;', data-top-bottom='background-position-y: 60%;')

        #prizes.post-parallax.cyan.pre-parallax.orange
            .container.mechanics
                .mechanics_steps
                    .mechanics_step.yellow.bebasneue-reg
                        img(src='img/1.png', alt='')
                        .caption
                            | Покупай батарейки
                            br
                            strong VARTA
                            |  с фиксиками
                    .mechanics_step.yellow.bebasneue-reg
                        img(src='img/2.png', alt='')
                        .caption
                            | Регистрируй
                            br
                            | промокоды
                    .mechanics_step.orange.bebasneue-reg
                        img(src='img/3.png', alt='')
                        .caption
                            | Выигрывай
                            br
                            | призы
                .row.prizes.owl-carousel
                    .item
                        .col-md-5.text-center
                            .title.code.fixi-reg 1 код
                            img.code(src='img/1code.png', alt='')
                        .col-md-1.arrow
                        .col-md-6.text-center
                            .title.fixi-reg 3d раскраска
                            img.prize(src='img/1prize.png', alt='')
                    .item
                        .col-md-5.text-center
                            .title.code.fixi-reg 2 кода
                            img.code(src='img/2code.png', alt='')
                        .col-md-1.arrow
                        .col-md-6.text-center
                            .title.fixi-reg игра
                            img.prize(src='img/2prize.png', alt='')
                    .item
                        .col-md-5.text-center
                            .title.code.fixi-reg 3 кода
                            img.code(src='img/3codes.png', alt='')
                        .col-md-1.arrow
                        .col-md-6.text-center
                            .title.fixi-reg фонарик
                            img.prize(src='img/3prize.png', alt='')
                    .item
                        .col-md-5.text-center
                            .title.code.fixi-reg 4 кода
                            img.code(src='img/4codes.png', alt='')
                        .col-md-1.arrow
                        .col-md-6.text-center
                            .title.fixi-reg гироскутер
                            img.prize(src='img/4prize.png', alt='')
                .row
                    .col-md-8.col-md-offset-2.text-center.bebasneue-reg.hurryup
                        | С 4 сентября 2017 года по 25 декабря 2017 года при покупке от 1 упаковки стикерованного продукта покупатель получает возможность стать обладателем призов и выиграть главный приз 
                        span.prize — гироскутер.
                        |  Розыгрыш проходит еженедельно.
                        br
                        |  Спешите принять участие!
                .row.bebasneue-reg.text-center
                    h4 Правила акции
                .row.akrobat-reg.mechanics_rules
                    .col-md-6
                        | Если предварительно подвергнуть объекты длительному вакуумированию, то призма испускает плоскополяризованный атом как при нагреве, так и при охлаждении. Многочисленные расчеты предсказывают, а эксперименты подтверждают, что пульсар переворачивает взрыв. Исследователями из разных лабораторий неоднократно наблюдалось, как разрыв ускоряет гамма-квант. Течение среды конфокально тормозит.
                    .col-md-6
                        | Фронт поглощает экранированный квазар. Среда параллельна. Зеркало концентрирует плоскополяризованный взрыв. В литературе неоднократно описано, как среда инструментально обнаружима. Многочисленные расчеты предсказывают, а эксперименты подтверждают, что темная материя коаксиально вращает лептон, даже если пока мы не можем наблюсти это непосредственно. Объект оптически стабилен.
                .row.mechanics_rules
                    .col-md-12.bebasneue-reg.text-center
                        a(href='#') Скачать полные правила (PDF)
        .monster-parallax(data-bottom-top='background-position-y: 0%;', data-center-top='background-position-y: 30%;', data-top-bottom='background-position-y: 60%;')
        
        #faq.post-parallax.pre-parallax.blue
            .container.faq
                .row
                    .col-md-12.text-center.fixi-reg
                        h4 вопроСы и Ответы
                .row
                    .col-md-10.col-md-offset-1.akrobat-reg
                        ul
                            li.question
                                | Отклонение трансформирует гравитационный стабилизатор, исходя из общих теорем механики?
                            li.answer
                                | Устойчивость горизонтальна. Гировертикаль трансформирует нестационарный момент силы трения, что обусловлено гироскопической природой явления.
                            li.question
                                | Следуя механической логике, электромеханическая система не входит своими составляющими?
                            li.answer
                                | В самом общем случае курс абсолютно стабилизирует параметр Родинга-Гамильтона. Отклонение поступательно проецирует гироскопический прибор.
                            li.question Механическая система, согласно третьему закону Ньютона, опасна?
                            li.answer
                                | Кинематическое уравнение Эйлера даёт большую проекцию на оси, чем нестационарный подвижный объект. Проекция на подвижные оси, в первом приближении, различна.
        .verta-parallax(data-bottom-top='background-position-y: 0%;', data-center-top='background-position-y: 30%;', data-top-bottom='background-position-y: 60%;')
        
        #winners.post-parallax.green
            .container.winners
                .row
                    .col-md-12.text-center.fixi-reg
                        h4 пОбедители
                .row
                    .col-md-12.text-center.bebasneue-reg.search_title Поиск победителей по email
                .row
                    .col-md-12.text-center
                        .search
                            input.bebasneue-reg(type='email', placeholder='Введите email')
                            button.fixi-reg(type='button') поиск
                            button.fixi-reg(type='button') х
                .row
                    .col-md-12
                        table.table.bebasneue-reg.borderless
                            thead
                                tr
                                    th Дата
                                    th Email
                                    th Победитель
                                    th Приз
                            tbody
                                tr
                                    td Дата
                                    td Email
                                    td Победитель
                                    td Приз
                                tr.highlight
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td Дата
                                    td Email
                                    td Победитель
                                    td Приз
                                tr.highlight
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td Дата
                                    td Email
                                    td Победитель
                                    td Приз
                                tr.highlight
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td Дата
                                    td Email
                                    td Победитель
                                    td Приз
                                tr.highlight
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td Дата
                                    td Email
                                    td Победитель
                                    td Приз
                                tr.highlight
                                    td
                                    td
                                    td
                                    td
                                tr
                                    td Дата
                                    td Email
                                    td Победитель
                                    td Приз
                                tr.highlight
                                    td
                                    td
                                    td
                                    td
        #feedback.container.feedback
            .row
                .col-md-12.text-center.fixi-reg
                    h4 Обратная Связь
            .row
                .col-md-4
                    label.bebasneue-reg(for='name_feedback') Имя:
                    input#name_feedback.bebasneue-reg(type='text', placeholder='Укажите имя')
                    label.bebasneue-reg(for='email_feedback') Email:
                    input#email_feedback.bebasneue-reg(type='email', placeholder='Укажите email')
                .col-md-8
                    label.bebasneue-reg(for='thread_feedback') Тема:
                    input#thread_feedback.bebasneue-reg(type='text', placeholder='Укажите тему')
                    textarea.bebasneue-reg(placeholder='Сообщение')
            .row
                .col-md-12.text-center
                    button.fixi-reg(type='button') отправить

        #map.container.map
            .row
                .col-md-12.text-center.fixi-reg
                    h4 гдЕ купить
            .map_container

        #register.container.register
            .row
                .col-md-12.text-center.fixi-reg
                    h4 региСтрация
            .row.social
                .col-md-12.text-center.bebasneue-reg
                    | Зарегистрироваться через:
                    a(href='#')
                        img(src='img/vk2.png', alt='')
                    a(href='#')
                        img(src='img/fb2.png', alt='')
                    a(href='#')
                        img(src='img/ok2.png', alt='')
            .row.space-above
                .col-md-4.register_input
                    label.bebasneue-reg(for='name_register') Имя:
                    input#name_register.bebasneue-reg(type='text', placeholder='Укажите имя')
                .col-md-4.advice.register_input
                    label.bebasneue-reg(for='email_register') Email:
                    input#email_register.bebasneue-reg(type='email', placeholder='Укажите email')
                    img(src='img/advice.png', alt='')
                .col-md-4.advice.register_input
                    label.bebasneue-reg(for='phone_register') Телефон (логин):
                    input#phone_register.bebasneue-reg(type='tel', placeholder='+7 (___) ___-__-__')
                    img(src='img/advice.png', alt='')
                .col-md-4.register_input
                    label.bebasneue-reg(for='region_register') Регион:
                    select#region_register.bebasneue-reg
                        option(value='') Укажите регион
                        option(value='') Регион
                        option(value='') Регион
                .col-md-4.register_input
                    label.bebasneue-reg(for='city_register') Город/Район:
                    select#city_register.bebasneue-reg
                        option(value='') Укажите город
                        option(value='') город
                        option(value='') город
                .col-md-4.register_input
                    label.bebasneue-reg(for='bdate_register') Дата рождения:
                    select#bdate_register.bebasneue-reg
                        option(value='') Укажите дату рождения
            .row.space-above
                .col-md-4
                    label.bebasneue-reg(for='sex_feedback') Пол:
            .row
                .col-md-4
                    input#male(type='radio', name='sex_feedback', value='1' checked)
                    label.bebasneue-reg(for='male') Мужской
                    input#female(type='radio', name='sex_feedback', value='2')
                    label.bebasneue-reg(for='female') Женский
            .row
                .col-md-12.text-left.bebasneue-reg.register_note
                    sup *
                    |  Все поля обязательны для заполнения
            .row.space-above
                .col-md-4.register_check
                    input#read1(type='checkbox', name='read_feedback', value='1')
                    label.bebasneue-reg(for='read1')
                        span
                            | Я прочитал и согласен с 
                            a(href="#")
                                | правилами акции и пользовательским соглашением
                            | .
                .col-md-8.register_check
                    input#read2(type='checkbox', name='read_feedback', value='1')
                    label.bebasneue-reg(for='read2')
                        | Я согласен получать информацию по SMS и Email.
                a.fixi-reg.fixi-button(href='#')
                    span зарегистрироваться
        .fixics
            .container
                .row
                    .col-md-12
                        img.fixic(src='img/fixics.png', alt='')
        img#scroll(data-top='top:20%', data-bottom='top:40%', data-200-end='top:70%;opacity: 1.0', data-end='top:80%; opacity: 0.0', src='img/scroll.png', alt='')
        include includes/_footer
        include includes/_modals