- var page = 'profile'
doctype html
html(lang='ru')
    include includes/_head
    body
        include includes/_header
        .container.profile
            h4 личный кабинет
            .profile_welcome
                | Здравствуйте, Ольга Валерьевна
                a(href="/")
                    | Выйти
            .row.profile_personal
                .col-md-6.col-xs-12
                    table
                        tr
                            th(colspan="2")
                                | Личные данные:
                        tr
                            td Фамилия:
                            td Семенова
                        tr
                            td Имя:
                            td Ольга
                        tr
                            td Отчество:
                            td Валерьевна
                        tr
                            td Email:
                            td olga.s@gmail.com
                        tr
                            td Телефон:
                            td +7 910 392 43 87
                .col-md-6.col-sm-12.profile_personal_codes
                    .profile_personal_header
                        | Вам остлось зарегистрировать 
                        span 2 кода
                        br
                        | Для участия в розыгрыше главного приза.
                    form.profile_form.profile_form--code(action="")
                        input(type="text" placeholder="Введите код")
                        input(type="submit" value="зарегистрировать")
            .profile_mycodes
                .profile_header
                    | Мои коды:
                .profile_mycodes_content
                    ul.prifile_mycodes_code
                        li 08.09.2017
                        li 3265479
                    ul.prifile_mycodes_code
                        li 08.09.2017
                        li 6548979
                    ul.prifile_mycodes_code
                        li 12.09.2017
                        li 3456891
                    ul.prifile_mycodes_code
                        li 21.10.2017
                        li 9846879
                    ul.prifile_mycodes_code
                        li 21.10.2017
                        li 3214987
            .profile_data
                .profile_header
                    | Добавление данных для получения приза:
                .row.profile_data_content
                    .col-md-4.col-sm-6.profile_form
                        | Индекс:
                        input(type="text" placeholder="141406" size="5")
                    .col-md-4.col-sm-6.profile_form
                        | Регион:
                        input(type="text" placeholder="Московская область")
                    .col-md-4.col-sm-6.profile_form
                        | Район:
                        input(type="text" placeholder="Воскресенский")
                    .col-md-4.col-sm-6.profile_form
                        | Город:
                        input(type="text" placeholder="Воскресенск" size="12")
                    .col-md-4.col-sm-6.profile_form.profile_form--right
                        | Улица:
                        input(type="text" placeholder="Поперечная" size="15")
                    .col-md-4.col-sm-6.profile_form.profile_form--right
                        | Дом/Корпус:
                        input(type="text" placeholder="125" size="3")
                        input(type="text" placeholder="52" size="3")
                    .col-md-7.col-sm-6.profile_form.profile_form--textarea
                        | Дополнение к адресу:
                        textarea(name="" rows="4" placeholder="Дополнение")
                    .col-md-5.col-sm-6.profile_form.profile_form--right
                        | Строение/Квартира:
                        input(type="text" placeholder="108" size="3")
                        input(type="text" placeholder="358" size="3")
            .profile_passport
                .profile_header
                    | Паспортные данные:
                .row.profile_passport_content
                    .col-sm-3.col-xs-6.profile_form
                        | Серия:
                        input(type="text" placeholder="5269")
                    .col-sm-3.col-xs-6.profile_form
                        | Номер:
                        input(type="text" placeholder="325695")
                    .col-md-6.col-sm-12.profile_form
                        | Кем выдан:
                        input(type="text" placeholder="Воскресенским УВД Московской области")
                    .col-md-4.col-sm-6.profile_form
                        | Дата выдачи:
                        input(type="text" placeholder="12.05.2003")
                    .col-md-5.col-sm-6.profile_form
                        | Код подразделения:
                        input(type="text" placeholder="105-523")        
                    .col-md-8.col-sm-12.profile_form.profile_form--textarea_row
                        | Адрес прописки:
                        textarea(name="" rows="4" placeholder="Адрес прописки")
                    .col-md-8.col-sm-12.profile_form.profile_form--file
                        | Скан паспорта:
                        .file
                            input(type="text" placeholder="C:\Documents\pasport.jpg" readonly)
                            button обзор
                    .col-sm-12.profile_footer
                        input(type="submit" value="добавить")
        include includes/_modals
        include includes/_footer