.fixics
    .container
        .row
            .col-md-12
                img.fixic(src='img/fixics.png', alt='')
.footer
    .container
        .row
            .col-md-6
                .row
                    .col-md-12.bebasneue-reg
                        | Если у вас возникли какие-либо вопросы,
                        br
                        |  Вы можете написать нам на почту 
                        a(href='mailto:promorus@eu.spectrumbrands.com', target='_blank') promorus@eu.spectrumbrands.com
                    .col-md-12.logo
            .col-md-6.text-right.footer_social
                a(href='#')
                    img(src='img/vk.png', alt='')
                a(href='#')
                    img(src='img/fb.png', alt='')
                a(href='#')
                    img(src='img/ok.png', alt='')

script(src='./vendor/jquery/dist/jquery.min.js')
script(src='./vendor/bootstrap/dist/js/bootstrap.min.js')
if page == 'main'
    script(src='./vendor/skrollr/dist/skrollr.min.js')
    script(src='./vendor/OwlCarousel2-2.2.1/dist/owl.carousel.min.js')
    script(src='https://api-maps.yandex.ru/1.1/index.xml')
script(src="./vendor/pickadate/lib/compressed/picker.js")
script(src="./vendor/pickadate/lib/compressed/picker.date.js")
script(src='./vendor/jquery-validation/dist/jquery.validate.min.js')
script(src='./vendor/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')
script(src='./js/app.min.js')