meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Varta
link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
link(href='vendor/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css', rel='stylesheet')
link(href='css/app.css', rel='stylesheet')