.header
    .container
        a.logo(href="/")
        #navbar.bebasneue-reg
            ul.nav.navbar-nav
                li
                    a(href='#prizes') Правила и призы
                li
                    if page=='main'
                        a(href='#register') Регистрация
                    else
                        a(href='#') Профиль
                li
                    a(href='#winners') Победители
                li
                    a(href='#feedback') Обратная связь
                li
                    a(href='#faq') FAQ
                li
                    a(href='#map') Где купить
                li
                    if page=='main'
                        a(href="#" data-toggle="modal" data-target="#login") Вход
                    else
                        a(href="/") Выход