.header
    .container
        a.logo(href="/")
        .hamb
            .hamb_inner
        #navbar.bebasneue-reg
            ul.nav.navbar-nav
                li
                    a(href=(page=='main')?'#prizes':'/#prizes') Правила и призы
                li
                    if page=='main'
                        a(href='#register') Регистрация
                    else
                        a(href='./profile.html') Профиль
                li
                    a(href=(page=='main')?'#winners':'/#winners') Победители
                li
                    a(href=(page=='main')?'#feedback':'/#feedback') Обратная связь
                li
                    a(href=(page=='main')?'#faq':'/#faq') FAQ
                li
                    a(href=(page=='main')?'#map':'/#map') Где купить
                li
                    if page=='main'
                        a(href="#" data-toggle="modal" data-target="#login") Вход
                    else
                        a(href="/") Выход