.header
    .container
        .logo
        .bebasneue-reg
            ul
                li
                    a(href='#prizes') Правила и призы
                li
                    a(href='#register') Регистрация
                li
                    a(href='#winners') Победители
                li
                    a(href='#feedback') Обратная связь
                li
                    a(href='#') FAQ
                li
                    a(href='#', data-toggle='modal', data-target='#login') Где купить