@font-face {
    font-family: 'BebasNeueReg'; /*a name to be used later*/
    src: url('../fonts/BebasNeue Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'AcrobatReg'; /*a name to be used later*/
    src: url('../fonts/Akrobat-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'FixiFont'; /*a name to be used later*/
    src: url('../fonts/FixiFont-Regular.otf'); /*URL to font*/
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

body {
    background: linear-gradient(to right, #284292, #030c3e);
    margin-top: 170px !important;
    position: relative;
}

.modal-header,.modal-footer
{
    border:none !important;
}

.modal-header h4
{
    font-size: 32px !important;
}

.modal-content
{
    background-color: #eebd1c !important;
    position: relative;
    border: none !important;
    box-shadow: none !important;
    color: #fff !important;
}

.modal-content input
{
    width:100%;
}
.modal-content label
{
    font-size: 22px;
}

.modal-content a
{
    color: #fff;
    text-decoration: underline;
}
.modal-content a:hover
{
    color: #fff;
    text-decoration: underline;
}
.modal-content .forgot
{
    font-size: 18px;
    padding-top: 40px;
}

.modal-content::after
{
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3.5deg);
}

.modal-content::before
{
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: right top;
    transform: skewY(1.5deg);
}

.modal .close
{
    font-size: 36px !important;
    color: #152666 !important;
    opacity: 1;
    text-shadow: none;
}

#notice .modal-body
{
    color: #152666 !important;
    font-size: 22px;
}

#login .social
{
    font-size: 18px;
}

#login .social img
{
    margin-left: 18px;
    width: 50px;
}

.bebasneue-reg
{
    font-family: BebasNeueReg;
}
.akrobat-reg
{
    font-family: AcrobatReg;
}
.fixi-reg
{
    font-family: FixiFont;
}

#scroll
{
    position: fixed;
    z-index: 100;
    right:200px;
    top:20%;
}

#dates
{
    position: absolute;
    color: #fce359;
    transform: rotate(-1deg);
    font-size: 28px;
    top:-40px;
    left: 90px;
}

.header
{
    width: 100%;
    height: 140px;
    background-color: #fce359;
    transform: rotate(-1deg);
    position: fixed;
    margin-top: -22px;
    top: 0;
    z-index: 500;
}

.header ul
{
    list-style-type: none;
    margin-top: 100px;
    padding: 0;
}

.header ul > li
{
    display: inline;
    font-size: 28px;
    padding: 5px 5px 0 5px;
}

.header ul > li:hover
{
    background-color: #ff6913;
    color: #fff
}

.header .logo
{
    background: url("../img/varta.png") no-repeat;
    background-size: contain;
    height: 140px;
}

.footer
{
    height: 300px;
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to right, #284292, #030c3e);
    color: #eebd1c;
    font-size: 20px;
    padding-top: 40px;
}

.footer .logo
{
    background: url("../img/varta_footer.png") no-repeat;
    background-size: contain;
    height: 50px;
    margin-left: 8px;
    margin-top: 15px;
}

.footer img
{
    margin-left: 20px;
}


.fixics
{
    background: url("../img/fixics_bg_new.png") no-repeat, linear-gradient(to right, #284292, #030c3e);
    background-position: 0 20%;
    background-size: cover;
    height: 650px;
    position: relative;
}

.fixics .fixic
{
    position: absolute;
    bottom: -600px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

.welcome
{
    position: relative;
}

.welcome a
{
    color: #eebd1c;
    font-size: 20px;
}

.welcome img
{
    width: 100%;
}

.welcome .akrobat-reg
{
    color: #eebd1c;
}

.fixi-button {
    background: url("../img/button.png") no-repeat !important;
    background-size: contain !important;
    background-position: 50% 50% !important;
    color: white !important;
    height: 100px;
    width: 100%;
    padding-top: 28px;
    margin: 25px 0 25px 0;
    font-size: 26px;
}


.fixi-button.white
{
    background: url("../img/button_white.png") no-repeat !important;

    background-size: contain !important;
    background-position: 50% 50% !important;
    color: #eebd1c !important;
    margin: 0;
}

button.fixi-button
{
    border: none !important;
    padding-top: 0 !important;
}

#forgot .fixi-button
{
    font-size: 22px !important;
}


.welcome a:hover
{
    text-decoration: none;
}

.mechanics
{
    padding-top: 75px;
    color: #eebd1c;
    font-size: 20px;
}

.mechanics h4
{
    font-size: 42px;
    margin: 50px 0 40px 0;
}

.mechanics a
{
    color: #ff6913;
    line-height: 100px;
}
.mechanics a:hover
{
    color: #ff6913;
}

.mechanics .orange
{
    color: #ff6913;
}
.mechanics .yellow
{
    color: #eebd1c;
}

.mechanics img
{
    height: 100px;
    float:left;
}

.mechanics .caption
{
    margin-top: 24px;
    padding-left: 115px;
}

.mechanics .prizes
{
    height: 350px;
    margin-top: 80px;
    margin-bottom: 120px;
}

.mechanics .title
{
    font-size: 32px;
    margin-bottom: 25px;
}

.mechanics .title.code
{
    padding-top: 85px;
}

.mechanics .prizes .code
{
    float: none;
    height: auto;

}
.mechanics .prizes .prize
{
    float: none;
    max-width: 100%;
    height: auto;
    max-height: 300px;
}
.mechanics .prizes .arrow
{
    height: 450px;
    background: url("../img/arrow.png") no-repeat !important;
    background-position: center center !important;
}


.faq h4
{
    color: #eebd1c;
    font-size: 40px;
    margin-bottom: 40px;
}

.faq ul
{
    font-size: 20px;
    line-height: 20px;
}

.faq ul > li.question
{
    color: #ff6913;
    background: url("../img/question.png") no-repeat left top;
    padding: 15px 0px 15px 70px;
    /* reset styles (optional): */
    list-style: none;
    margin: 0;
}

.faq ul > li.answer
{
    color: #eebd1c;
    background: url("../img/answer.png") no-repeat left top;
    padding: 15px 0px 15px 70px;
    /* reset styles (optional): */
    list-style: none;
    margin-bottom: 40px;
}


.winners h4
{
    color: #eebd1c;
    font-size: 40px;
    margin-bottom: 40px;
}

.winners .search_title
{
    color: #eebd1c;
    font-size: 22px;
}

input
{
    border: 3px solid #eebd1c;
    font-size: 18px !important;
}

select
{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: 3px solid #eebd1c;
    background-color: #fff;
    font-size: 18px !important;
}

input[type=radio],input[type=checkbox]
{
    display: none;
}

input[type=radio].white + label,input[type=checkbox].white + label
{
    background: url('../img/unchecked_white.png') 0 0px no-repeat;
}
input[type=radio]:checked.white + label,input[type=checkbox]:checked.white + label
{
    background: url('../img/checked_white.png') 0 0px no-repeat;
}

input[type=radio] + label,input[type=checkbox] + label
{
    background: url('../img/unchecked.png') 0 0px no-repeat;
    background-position: center left;
    padding-left: 60px;
    padding-top: 45px;
    margin-right: 25px;
    height: 85px;
}

input[type=radio]:checked + label,input[type=checkbox]:checked + label
{
    background: url('../img/checked.png') 0 0px no-repeat;
    height: 85px;
}

.winners button
{
    background-color: #eebd1c;
    border: none;
    margin-left: 5px;

    color: #fff;
    padding: 2px 11px 6px 11px;
    font-size: 18px !important;
}

.winners table
{
    margin-top: 35px;
}

.winners table td,th
{
    border: none !important;
}

.winners thead tr
{
    color: #eebd1c;
    font-size: 20px;
}

.winners tbody tr
{
    color: #000;
    font-size: 20px;
}

.winners td
{
    border-bottom: 2px transparent solid;
}

.winners tbody tr:not(.highlight):nth-child(4n+1)
{
    background-color: #eebd1c;
}
.winners tbody tr:not(.highlight):nth-child(4n-1)
{
    background-color: #eea21d;
}

.winners tbody .highlight
{
    background-color: transparent !important;

}
.winners .highlight td {
    padding-top: 2px; padding-bottom:2px}

.borderless td, .borderless th {
    border: none;
}

.feedback textarea
{
    border: 3px solid #eebd1c;
    font-size: 18px !important;
    width: 100%;
    height: 250px;
}

.feedback input
{
    width: 100%;
    margin-bottom: 15px;
}
.feedback label
{
    font-size: 18px !important;
    color: #eebd1c;
}


.feedback h4
{
    color: #eebd1c;
    font-size: 40px;
    margin-bottom: 40px;
}


.feedback button
{


    background-color: #eebd1c;
    border: none;
    margin-top: 15px;

    color: #fff;
    padding: 2px 11px 6px 11px;
    font-size: 18px !important;
}

.map h4
{
    color: #eebd1c;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.register h4
{
    color: #eebd1c;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 80px;
}

.register
{
    color: #eebd1c;
}

.register input
{
    width: 100%;
    margin-bottom: 15px;
}

.register .space-above
{
    margin-top: 25px;
}

.register .social
{
    font-size: 18px;
}

.register .social img
{
    height: 50px;
    margin-left: 15px;
}

.register .advice
{
    position: relative;
    padding-right: 60px;
}

.register .advice input
{
    width: 100% !important;
}
.register .advice img
{
    height: 38px;
    position: absolute;
    right: 15px;
    bottom: 12px;
}

.register select
{
    width: 100%;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.42);
}

.register label
{
    font-size: 18px !important;
    color: #eebd1c;
}


span.prize
{
    color: #ff6913;
}

.pre-parallax
{
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #284292, #030c3e);
    z-index: 40;
}

.pre-parallax::after
{
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
}

.pre-parallax.pink::after
{
    border-bottom: solid 20px #ff2b7b;
}
.pre-parallax.cyan::after
{
    border-bottom: solid 20px #00eaff;
}
.pre-parallax.green::after
{
    border-bottom: solid 20px #00e366;
}

.post-parallax
{
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #284292, #030c3e);
    z-index: 40;
}

.post-parallax::before
{
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: right top;
    transform: skewY(3deg);
}


.post-parallax.orange
{
    position:fixed;
    z-index: 60;
}

.post-parallax.orange::before
{
    border-top: solid 20px #ffad2b;
}
.post-parallax.blue::before
{
    border-top: solid 20px #1c9eee;
}
.post-parallax.green::before
{
    border-top: solid 20px #00e6a9;
}

.simka-parallax
{
    height: 700px;
    width: 100%;
    background: url("../img/inset_simka.jpg") no-repeat;
    background-size: cover;
}

@media (max-width: 1600px) {
    .simka-parallax
    {
        background-size: 150%;
        background-position: 50% 50%;
    }
}

.monster-parallax
{
    height: 700px;
    width: 100%;
    background: url("../img/inset_monster.jpg") no-repeat;
    background-size: cover;
}

@media (max-width: 1600px) {
    .monster-parallax
    {
        background-size: 150%;
        background-position: 50% 50%;
    }
}

.verta-parallax
{
    height: 700px;
    width: 100%;
    background: url("../img/inset_verta.jpg") no-repeat;
    background-size: cover;
}

@media (max-width: 1600px) {
    .verta-parallax
    {
        background-size: 150%;
        background-position: 50% 50%;
    }
}